# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/

# Jupyter notebooks
*.ipynb_checkpoints

# Data outputs
data/processed/
data/raw/*.parquet
*.csv

# Mac / Windows files
.DS_Store
Thumbs.db 